{% extends page | template('layout') %}

{% block pageContent %}

    <section id="styleguide">
        <header class="major"><h2>Section {{ page.styleguideSection.styleGuideReference }} - {{ page.styleguideSection.name }}</h2></header>
        <article>

            <p>{{ page.styleguideSection.description }}</p>

            <div>
                <h3>Markup: </h3>

                <div class="markup">
                    <html>
                    <body>
                    {% for modifier in page.styleguideSection.modifiers %}
                        <div><b><i>{{ modifier.name }}</i></b></div><br>
                        <div>{{ modifier.description }}</div><br>
                        <div>{{ page.styleguideSection.formatMarkup(modifier) | raw }}</div><br>
                        {% if not loop.last %}
                            <hr><br>
                        {% endif %}
                    {% endfor %}
                    </body>
                    </html>
                </div>
            </div>
        </article>
    </section>

    <script>
        function ready(fn) {
            if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading") {
                fn();
            } else {
                document.addEventListener('DOMContentLoaded', fn);
            }
        }

        ready(function () {
            var shadowHost = document.querySelector("#styleguide .markup");
            var shadowRoot = shadowHost.attachShadow({mode: 'open'});

            var innerHtml = '<style>body { font-size: 62.5%; }</style>';

            {% if page.hasStylesheet() %}
            console.log("including stylesheet from {{ page.stylesheet }}");
            innerHtml = innerHtml + '<link rel="stylesheet" href="{{ page.stylesheet }}">';
            {% endif %}

            innerHtml = innerHtml + shadowHost.innerHTML;

            shadowRoot.innerHTML = innerHtml;
        });
    </script>

{% endblock %}
