{%- if link.name -%}
    {%- if link.url -%}
        <a href="{{- link.url -}}">{{- link.name -}}</a>
    {%- elseif link.index -%}
        {%- if link.displayName -%}
            {{- linkIn(link.name, link.index, link.displayName) -}}
        {%- else -%}
            {{- linkIn(link.name, link.index) -}}
        {%- endif -%}
    {%- else -%}
        {%- if link.displayName -%}
            {{- link(link.name, link.displayName) -}}
        {%- else -%}
            {{- link(link.name) -}}
        {%- endif -%}
    {%- endif -%}
{%- endif -%}