{% extends "templates/layouts/index.twig" %}

{% block pageNav %}

{% endblock %}

{% block jumbotron %}
    <h1 class="home-title">{{ classDoc.info.simpleName }}</h1>
    <p class="lead">{{ classDoc.info.name }}</p>
{% endblock %}

{% block mainContent %}

    <section class="bs-docs-section">
        <h1 id="class-info" class="page-header">Class Info</h1>

        <span>
            {{ classDoc.modifiers }}
            {{ classDoc.info.classType }}
            {% include 'templates/includes/type.twig' with { type: classDoc.info.type } %}
        </span>

        {% set superclass = classDoc.info["superclass"] %}
        {% if superclass %}
            <span>
                extends
                {% include 'templates/includes/type.twig' with { type: superclass } %}
            </span>
        {% endif %}

        <br>
        <br>

        <span>
            in package <code>{{ classDoc.info.package }}</code>
        </span>

        <br>
        <br>

        {% if classDoc.info.subclasses.direct %}
            <b>Known Direct Subclasses:</b>
            <br>

            <span>
                {% for ic in classDoc.info.subclasses.direct %}
                    {% include 'templates/includes/type.twig' with { type: ic } %}
                {% endfor %}
            </span>
        {% else %}
            <b>No Known Direct Subclasses</b>
        {% endif %}

        <br>
        <br>
        <br>

        {{ classDoc.comment.description }}

    </section>

    <section class="bs-docs-section">
        <h1 id="class-summary" class="page-header">Summary</h1>

        <h3 id="summary-fields">Fields</h3>
        {% if classDoc.fields %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Modifier and Type</th>
                    <th>Field and Description</th>
                </tr>
                </thead>
                <tbody>
                {% for f in classDoc.fields %}
                    {% include 'templates/includes/fieldPreview.twig' with { f: f } %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No declared fields</p>
        {% endif %}

        <h3 id="summary-ctors">Constructors</h3>
        {% if classDoc.ctors %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Constructor and Description</th>
                </tr>
                </thead>
                <tbody>
                {% for c in classDoc.ctors %}
                    {% include 'templates/includes/ctorPreview.twig' with { C: c } %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No declared constructors</p>
        {% endif %}

        <h3 id="summary-methods">Methods</h3>
        {% if classDoc.methods %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Modifier and Type</th>
                    <th>Method and Description</th>
                </tr>
                </thead>
                <tbody>
                {% for m in classDoc.methods %}
                    {% include 'templates/includes/methodPreview.twig' with { m: m } %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No declared methods</p>
        {% endif %}
    </section>

    <section class="bs-docs-section">
        <h1 id="fields" class="page-header">Fields</h1>
        {% if classDoc.fields %}
            {% for f in classDoc.fields %}
                {% include 'templates/includes/fieldFull.twig' with { f: f } %}
            {% endfor %}
        {% else %}
            <p>No declared fields</p>
        {% endif %}
    </section>

    <section class="bs-docs-section">
        <h1 id="constructors" class="page-header">Constructors</h1>
        {% if classDoc.ctors %}
            {% for c in classDoc.ctors %}
                {% include 'templates/includes/ctorFull.twig' with { fc: c } %}
            {% endfor %}
        {% else %}
            <p>No declared constructors</p>
        {% endif %}
    </section>

    <section class="bs-docs-section">
        <h1 id="methods" class="page-header">Methods</h1>
        {% if classDoc.methods %}
            {% for m in classDoc.methods %}
                {% include 'templates/includes/methodFull.twig' with { m: m } %}
            {% endfor %}
        {% else %}
            <p>No declared methods</p>
        {% endif %}
    </section>

{% endblock %}

