<footer class="bs-docs-footer" role="contentinfo">
    <div class="row">
        <div class="col-xs-12">
            <nav aria-label="navigateClasses">
                <ul class="pager">
                    {% if page.previous %}
                        <li class="previous"><a href="{{ page.previous.link }}"><span
                                        aria-hidden="true">&larr;</span> {{ page.previous.title }}</a></li>
                    {% endif %}

                    {% if page.next %}
                        <li class="next"><a href="{{ page.next.link }}">{{ page.next.title }} <span
                                        aria-hidden="true">&rarr;</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <br>

    <p>
        Documentation template based on the
        <a href="https://github.com/mistic100/jekyll-bootstrap-doc">Jekyll Bootstrap Doc</a>
        Jekyll theme by the <a href="http://getbootstrap.com">Bootstrap team</a>. Site created with
        <a href="https://github.com/JavaEden/Orchid">Orchid</a>
    </p>

    <ul class="bs-docs-footer-links muted">
        <li>Currently {{ site.version }}</li>
    </ul>
</footer>