
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="index, follow">

{% if page.title %}
    <title>{{ page.title }}</title>
{% else %}
    <title>{{ options.about.name }}</title>
{% endif %}

{% if page.description %}
    <meta name="description" content="{{ page.description }}">
{% else %}
    <meta name="description" content="{{ options.about.description }}">
{% endif %}

{% if page.previous %}
    <link rel="prev" href="{{ page.previous.link }}">
{% endif %}

{% if page.next %}
    <link rel="next" href="{{ page.next.link }}">
{% endif %}

{% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical.link }}">
{% endif %}

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->

<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js"></script>