<div class="bs-docs-sidebar hidden-print">
    <ul class="nav bs-docs-sidenav">
        {% for menuItem in theme.menu() %}
            {% if menuItem.hasChildren() %}
                <li class="has-children {% for childLink in menuItem.children %}{% if length(childLink.title) > 0 %}{{ (page == childLink.page) ? 'active' : '' }}{% endif %}{% endfor %}">
                    <a>{{ menuItem.title | replace({ '_': ' ', '-': ' ' }) | title }}</a>
                    <ul class="nav">
                        {% for childLink in menuItem.children %}
                            {% if length(childLink.title) > 0 %}
                                <li class="{{ (page == childLink.page) ? 'active' : '' }}"><a href="{{ childLink.link }}">{{ childLink.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% elseif menuItem.isSeparator() %}
                <li><div class="divider"></div></li>
                {% if length(menuItem.title) > 0 %}
                    <li><a class="subheader">{{ menuItem.title }}</a></li>
                {% endif %}
            {% else %}
                {% if length(menuItem.title) > 0 %}
                    <li><a href="{{ menuItem.link }}">{{ menuItem.title }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <a class="back-to-top" href="#top">
        <i class="glyphicon glyphicon-chevron-up"></i> Back to top
    </a>
</div>