{% import 'macros/type.twig' as _type_ %}
{% import 'macros/comment.twig' as _comment_ %}
{% import 'macros/anchor.twig' as _anchor_ %}

<div class="box" id="{{- _anchor_.methodAnchor(method) -}}">
    <h3>
        <code>{{- _type_.formatType(method.returns) }} {{ method.name -}}
            ({{- _type_.formatParameterList(method.parameters) -}})</code>
    </h3>
    <hr>

    <div class="panel-body">
        <div>{{- _comment_.formatComment(method.comment, options) -}}</div>

        {% if method.parameters %}
            <h4>Parameters:</h4>
        {% else %}
            <h4>No Parameters</h4>
        {% endif %}
    </div>
    {% if method.parameters %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Variable Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for param in method.parameters %}
                <tr>
                    <td>{{- _type_.formatType(param.type) -}}</td>
                    <td>{{- param.name -}}</td>
                    <td>{{- param.description -}}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

    <div class="panel-body">
        <h4>Returns: </h4>
        <code>{{- _type_.formatType(method.returns) }} </code>
        <p>{{- method.comment.return -}}</p>
    </div>
</div>

