{% extends 'templates/server/admin/base/base.twig' %}

{% block main %}
    <h1>Available Generators</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Class Name</th>
                <th>Priority</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for generator in generators %}
                <tr>
                    <td><a href="#" data-toggle="tooltip" title="{{ class(generator).name }}">{{ class(generator).simpleName }}</a></td>
                    <td>{{ generator.priority }}</td>
                    <td><code>{{ generator.key }}</code></td>
                    <td>{{ generator.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
