<td><a href="#" data-toggle="tooltip" title="{{ class(item).name }}">{{ class(item).simpleName }}</a></td>
<td>{{ item.priority }}</td>
<td><code>{{ item.sourceExtensions | join('</code>, <code>') }}</code></td>
<td><code>{{ item.outputExtension }}</code></td>