<td><a href="#" data-toggle="tooltip" title="{{ class(item).name }}">{{ class(item).simpleName }}</a></td>
<td>{{ item.priority }}</td>
<td><code>{{ item.key }}</code></td>
<td>{{ item.description }}</td>