<td><a href="#" data-toggle="tooltip" title="{{ class(item).name }}">{{ class(item).simpleName }}</a></td>
<td>{{ item.priority }}</td>
<td><code>{{ item.flag }}</code></td>
<td>{{ item.itemLength }}</td>
<td>{{ item.required }}</td>