{% extends [page.layout, concat('layouts/', page.layout, '.twig'), "layouts/index.twig"] %}

{% block pageNav %}
    {% import 'macros/classDoc.twig' as _classDoc_ %}
    {{- _classDoc_.createPageNav(classDoc) -}}
{% endblock %}

{% block jumbotron %}
    <h1 class="home-title">{{ classDoc.info.modifiers.objectTypeName }} {{ classDoc.info.name }}</h1>
    <p class="lead">{{ classDoc.info.package }}</p>
{% endblock %}

{% block mainContent %}
    {% import 'macros/classDoc.twig' as _classDoc_ %}
    {% import 'macros/comment.twig' as _comment_ %}

    {% set classFields = classDoc.info.qualifiedName | fields %}
    {% set classCtors = classDoc.info.qualifiedName | constructors %}
    {% set classMethods = classDoc.info.qualifiedName | methods %}
    {% set directSubclasses = classDoc.info.qualifiedName | directSubclasses %}

    <div>{{- _classDoc_.createClassHeader(classDoc) -}}</div>
    <hr>
    <div>{{- _comment_.formatComment(classDoc.info.comment, options) -}}</div>

    <section class="bs-docs-section">
        <h1 id="summary" class="page-header">Summary</h1>

        {% if directSubclasses %}
            <h4>Direct Subclasses</h4>
            <p>
                {%- for subclass in directSubclasses -%}
                    <a href="{{- subclass.url -}}">{{- subclass.name -}}</a>
                    {%- if (loop.last) %}{% else %}, {% endif %}
                {%- endfor -%}
            </p>
            <br>
        {% endif %}

        {% if classFields %}
            <h4>All Fields</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for field in classFields | sortBy('name') %}
                    {% include 'includes/fieldPreview.twig' %}
                {% endfor %}
                </tbody>
            </table>
            <br>
        {% endif %}

        {% if classCtors %}
            <h4>All Constructors</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Constructor</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for constructor in classCtors %}
                    {% include 'includes/ctorPreview.twig' with { constructor: constructor, classDoc: classDoc } %}
                {% endfor %}
                </tbody>
            </table>
            <br>
        {% endif %}

        {% if classMethods %}
            <h4>All Methods</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Method</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for method in classMethods | sortBy('name') %}
                    {% include 'includes/methodPreview.twig' with { method: method, classDoc: classDoc } %}
                {% endfor %}
                </tbody>
            </table>
            <br>
        {% endif %}
    </section>

    <section class="bs-docs-section">
        <h1 id="fields" class="page-header">Fields</h1>
        {% if classFields %}
            {% for field in classFields | sortBy('name') %}
                {% include 'includes/fieldFull.twig' with { field: field, classDoc: classDoc } %}
            {% endfor %}
        {% else %}
            <p>No declared fields</p>
        {% endif %}
    </section>

    <section class="bs-docs-section">
        <h1 id="constructors" class="page-header">Constructors</h1>
        {% if classCtors %}
            {% for constructor in classCtors %}
                {% include 'includes/ctorFull.twig' with { constructor: constructor, classDoc: classDoc } %}
            {% endfor %}
        {% else %}
            <p>No declared constructors</p>
        {% endif %}
    </section>

    <section class="bs-docs-section">
        <h1 id="methods" class="page-header">Methods</h1>
        {% if classMethods %}
            {% for method in classMethods | sortBy('name') %}
                {% include 'includes/methodFull.twig' with { method: method, classDoc: classDoc } %}
            {% endfor %}
        {% else %}
            <p>No declared methods</p>
        {% endif %}
    </section>

{% endblock %}

