{% extends ["layouts/index.twig"] %}

{% block jumbotron %}
    <h1 class="home-title">{{ options.config.about.name }}</h1>
    <p class="lead">{{ options.config.about.description }}</p>
    <p class="lead">
        <a href="https://github.com/{{ options.config.github.username }}/{{ options.config.github.repo }}"
           class="btn btn-outline-inverse btn-lg">Download</a>
    </p>
    <p class="version">
        Currently {{ options.v }}
    </p>
    {% if options.config and options.config.github %}
        <p class="version">
            <img alt="Travis CI"
                 src="https://travis-ci.org/{{ options.config.github.username }}/{{ options.config.github.repo }}.svg?branch={{ options.config.github.branch }}"/>
            <img alt="Jitpack"
                 src="https://jitpack.io/v/{{ options.config.github.username }}/{{ options.config.github.repo }}.svg"/>
            <img alt="Code Coverage"
                 src="https://img.shields.io/codecov/c/github/{{ options.config.github.username }}/{{ options.config.github.repo }}/{{ options.config.github.branch }}.svg">
        </p>
    {% endif %}
{% endblock %}

{% block mainContent %}

    {% if page.data.readme %}
        <section class="bs-docs-section">
            <h1 id="readme" class="page-header">Readme</h1>
            {{ page.data.readme }}
        </section>
    {% endif %}

    {#{% if index.classes  %}#}
        {#<section class="bs-docs-section">#}
            {#<h1 id="classes" class="page-header">Classes</h1>#}

            {#<div class="all-classes">#}
                {#<ul class="pager">#}
                    {#{% set classList = index.classes | walk('url') | sortBy('name') %}#}
                    {#{% for c in classList %}#}
                        {#<li><a href="{{ c.url }}">{{ c.name }}</a></li>#}
                    {#{% endfor %}#}
                {#</ul>#}
            {#</div>#}
        {#</section>#}
    {#{% endif %}#}

    {% if page.data.license %}
        <section class="bs-docs-section">
            <h1 id="license" class="page-header">License</h1>
            <pre>{{ page.data.license }}</pre>
        </section>
    {% endif %}

    <section class="bs-docs-section">
        <ul class="pager">
            {% for page in index.getAllPages() %}
                <li><a href="{{ page.link }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}












