<tr id="ctor-{{ loop.index }}-summary">
    <td>
        <span class="modifiers">{{ c.modifiers }}</span>
        <span class="type">{% include 'templates/includes/type.twig' with { type: c } %}</span>
        <a href="#ctor-{{ loop.index }}-full">{{ c.name }}</a>(
        {% for p in c.parameters %}
            {% include 'templates/includes/type.twig' with { type: p } %}
            {{ p.variableName }}
            {% if loop.last == false %}
                ,
            {% endif %}
        {% endfor %}
        )
        <br>
        <span>{{ c.comment.shortDescription }}</span>
    </td>
</tr>