<tr id="field-{{ loop.index }}-{{m.name}}-summary">
    <td>
        <span class="modifiers">{{ f.modifiers }}</span>
        <span class="type">{% include 'templates/includes/type.twig' with { type: f } %}</span>
    </td>
    <td>
        <a href="#field-{{ loop.index }}-{{f.variableName}}-full">{{ f.variableName }}</a>
        <br>
        <span>{{ f.comment.shortDescription }}</span>
    </td>
</tr>