{% import 'includes/macros/type.twig' as macros %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <code>{{- macros.formatType(method.returns) }} {{ method.name -}}({{- macros.formatParameterList(method.parameters) -}})</code>
        </h3>
    </div>
    <div class="panel-body">
        {% if method.comment.since %}
            <div class="panel-badge">Since {{ method.comment.since -}}</div>
        {% endif %}

        <p>{{ method.comment.description }}</p>
        {% if method.parameters %}
            <h4>Parameters:</h4>
        {% else %}
            <h4>No Parameters</h4>
        {% endif %}
    </div>
    {% if method.parameters %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Variable Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for param in method.parameters %}
                <tr>
                    <td>{{- macros.formatType(param.type) -}}</td>
                    <td>{{- param.name -}}</td>
                    <td>{{- param.description -}}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

    <div class="panel-body">
        <h4>Returns: </h4>
        <code>{{- macros.formatType(method.returns) }} </code>
        <p>{{- method.comment.return -}}</p>
    </div>
</div>