<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/header.twig' %}
    {% include 'meta.twig' ignore missing %}
    {{ page.theme.styles }}
</head>
<body>

<a class="github-fork-ribbon left-top"
   href="https://github.com/{{ options.github.username }}/{{ options.github.repo }}"
   title="Fork me on GitHub">Fork me on GitHub</a>

{% include 'includes/navbar.twig' %}

<div id="top"></div>

{% block baseJumbotron %}

{% endblock %}

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            {% block pageContent %}

            {% endblock %}
        </div>

        <!-- Page navigation
        =========================================== -->
        <div class="col-md-3" role="complementary">
            {% include 'includes/sidenav.twig' %}
        </div>
    </div>
</div>

<br><br><br>
<hr>

<div class="container bs-docs-container">
    {% include 'includes/footer.twig' %}
</div>

{% block baseScripts %}

{% endblock %}

{{ page.theme.scripts }}

<script>
    $(function () {
        {% if options and options.colors %}
            window.colors = ['{{ options.colors.primary }}', '{{ options.colors.secondary }}'];
        {% else %}
            window.colors = ['#4C376C', '#000000'];
        {% endif %}
        {% block baseRunScripts %}

        {% endblock %}
        buildNav();
    });
</script>
</body>
</html>