<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/header.twig' %}
    {% include 'meta.twig' ignore missing %}
    {{ theme.styles }}
</head>
<body>

<a class="github-fork-ribbon left-top"
   href="https://github.com/{{ options.config.github.username }}/{{ options.config.github.repo }}"
   title="Fork me on GitHub">Fork me on GitHub</a>

{% include 'includes/navbar.twig' %}

<div id="top"></div>
<div class="bs-docs-masthead" id="jumbotron">
    <div class="container">
        {% block jumbotron %}
            <h1 class="home-title">{{- page.title -}}</h1>
        {% endblock %}
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            {% block mainContent %}

            {% endblock %}
        </div>

        <!-- Page navigation
        =========================================== -->
        <div class="col-md-3" role="complementary">
            {% include 'includes/sidenav.twig' %}
        </div>
    </div>
</div>

<br><br><br>
<hr>

<div class="container bs-docs-container">
    {% include 'includes/footer.twig' %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>

{{ theme.scripts }}

<script>window.index = {{ index }};</script>

<script>
    $(function () {
        {% if options.config and options.config.colors %}
            window.colors = {{ options.config.colors | json }};
        {% else %}
            window.colors = ['#4C376C', '#000000'];
        {% endif %}

        trianglify();
        buildNav();
    });
</script>
</body>
</html>