<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/header.twig' %}
    {% include 'meta.twig' ignore missing %}
    {% include 'includes/styles.twig' %}
</head>
<body>

<a class="github-fork-ribbon {% block ribbonSide %}{{ 'left-top' }}{% endblock %}"
   href="https://github.com/{{ theme.about.githubUsername }}/{{ theme.about.githubRepo }}"
   title="Fork me on GitHub">Fork me on GitHub</a>

{% include 'includes/navbar.twig' %}

<div id="top"></div>

{% block baseJumbotron %}

{% endblock %}

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            {% block pageContent %}

            {% endblock %}
            {% block remainingComponents %}
                {% include 'includes/componentHolder.twig' with {componentHolder: page.components} %}
            {% endblock %}
        </div>

        <!-- Page navigation
        =========================================== -->
        <div class="col-md-3" role="complementary">
            {% include 'includes/sidenav.twig' %}
        </div>
    </div>
</div>

<br><br><br>
<hr>

<div class="container bs-docs-container">
    {% include 'includes/footer.twig' %}
</div>

{% block layoutScripts %}

{% endblock %}

{% include 'includes/scripts.twig' %}

<script>
    $(function () {
        window.colors = ['{{ theme.primaryColor }}', '{{ theme.secondaryColor }}'];
        {% block setupJumbotron %}

        {% endblock %}
        buildNav();
    });
</script>

</body>
</html>