{% extends page | template('layout') %}

{% block pageContent %}

    <article class="post">
        <header>
            <div class="title">
                <h2><a href="{{ page.link }}">{{ page.title }}</a></h2>
            </div>
            <div class="meta">
                <time class="published" datetime="{{ post.publishedDate('yyyy-MM-dd') }}">{{ post.publishedDate() }}</time>
                <a href="#" class="author"><span class="name">{{ theme.about.siteName }}</span><img src="{{ site.baseUrl }}/{{ theme.about.avatar }}" alt=""/></a>
            </div>
        </header>
        <span class="image featured"><img src="{{ site.featuredImage }}" alt=""/></span>
        {{ page.content }}
    </article>

{% endblock %}
