{% import 'macros/type.twig' as _type_ %}
{% import 'macros/comment.twig' as _comment_ %}
{% import 'macros/anchor.twig' as _anchor_ %}

<tr>
    <td>
        {{- _type_.formatType(method.returns) }} <code><a href="#{{- _anchor_.methodAnchor(method) -}}">{{ method.name -}}</a></code>({{- _type_.formatParameterList(method.parameters) -}})
    </td>
    <td>
        {{- _comment_.formatCommentPreview(method.comment, options) -}}
    </td>
</tr>