
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>

{% if page.title %}
    <title>{{ page.title }}</title>
{% else %}
    <title>{{ theme.about.name }}</title>
{% endif %}

{% if page.description %}
    <meta name="description" content="{{ page.description }}">
{% else %}
    <meta name="description" content="{{ theme.about.description }}">
{% endif %}

{% if page.previous %}
    <link rel="prev" href="{{ page.previous.link }}">
{% endif %}

{% if page.next %}
    <link rel="next" href="{{ page.next.link }}">
{% endif %}

{% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical.link }}">
{% endif %}
