{%- if type.url -%}
    <a href="{{- type.url -}}">{{- type.simpleName -}}{{- type.dimension -}}</a>
{%- elseif (type.simpleName == '?') -%}
    <span>? </span>
{%- else -%}
    <code>{{- type.simpleName -}}{{- type.dimension -}}</code>
{%- endif -%}

{%- if type.wildcardType -%}
    {# if the type is a wildcard, display its extends/super types #}
    {%- set superclass = type.wildcardType["extends"] -%}
    {%- if superclass -%}
        extends
        {%- for t in superclass -%}
            {%- include 'includes/type.twig' with { type: t } -%}
            {%- if loop.last == false -%}
                ,
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}

    {%- if type.wildcardType.super -%}
        super
        {%- for t in type.wildcardType.super -%}
            {%- include 'includes/type.twig' with { type: t } -%}
            {%- if loop.last == false -%}
                ,
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endif -%}

{%- if type.typeParameters -%}
    {# if the type is a parameterized type, display its type parameters inside brackets #}
    <{%- for t in type.typeParameters -%}
    {%- include 'includes/type.twig' with { type: t } -%}
    {%- if loop.last == false -%}
        ,
    {%- endif -%}
{%- endfor -%}>
{%- endif -%}