{% extends 'layouts/layoutBase.twig' %}

{% block body %}

    <!-- Main -->
    <div id="main">
        {% block pageContent %}
            {% embed 'includes/pageContent.twig' %}{% endembed %}
        {% endblock %}

        <!-- start:inject components -->
        {% if page.components and page.components.remainingComponents.size > 0 %}
            {% for component in page.components.remainingComponents %}
                <article class="post single">
                    <div class="component component-{{ component.key }}">
                        {% include component | template('component') ignore missing %}
                    </div>
                </article>
            {% endfor %}
        {% endif %}
        <!-- end:inject components -->

        {% include 'includes/pagination.twig' %}
    </div>

    <!-- Sidebar -->
    <section id="sidebar">

        <!-- Intro -->
        <section id="intro">
            <a href="#" class="logo"><img src="{{ theme.about.avatar }}" alt=""/></a>
            <header>
                <h2>{{ theme.about.siteName }}</h2>
                <p>{{ theme.about.tagline }}</p>
            </header>
        </section>

        {% include 'includes/componentHolder.twig' with {componentHolder: theme.sidebar} %}

        <!-- About -->
        <section class="blurb">
            <h2>About</h2>
            <p>{{ theme.about.blurb }}</p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </section>

        {% include 'includes/footer.twig' %}

    </section>

{% endblock %}