{% extends 'layouts/layoutBase.twig' %}

{% block body %}

    <!-- Main -->
    <div id="main">
        {% block pageContent %}
            {% embed 'includes/pageContent.twig' %}{% endembed %}
        {% endblock %}
        {% include 'includes/pagination.twig' %}
    </div>

    <!-- Sidebar -->
    <section id="sidebar">

        <!-- Intro -->
        <section id="intro">
            <a href="#" class="logo"><img src="{{ site.baseUrl }}/{{ theme.about.avatar }}" alt=""/></a>
            <header>
                <h2>{{ theme.about.siteName }}</h2>
                <p>{{ theme.about.tagline }}</p>
            </header>
        </section>

        {% include 'includes/componentHolder.twig' with {componentHolder: theme.sidebar} %}

        <!-- About -->
        <section class="blurb">
            <h2>About</h2>
            <p>{{ theme.about.blurb }}</p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </section>

        {% include 'includes/footer.twig' %}

    </section>

{% endblock %}