{% extends page | template('layout') %}

{% block fullPageContent %}
    <section id="banner">
        <header>
            <h1>{{ theme.about.name }}</h1>
            <p>{{ theme.about.description }}</p>
        </header>
        {% if ((theme.about is defined) and (theme.about.githubUsername is not empty) and (theme.about.githubRepo is not empty)) %}
            <div>
                <br><br><br>
                <ul class="actions">
                    <li><a href="https://github.com/{{ theme.about.githubUsername }}/{{ theme.about.githubRepo }}"
                           class="button big">View Source</a></li>
                </ul>
            </div>
        {% endif %}
    </section>
    <section id="pageContent">
        <article>
            {% block pageContent %}

            {% endblock %}
            {% block remainingComponents %}
                {% if page.components and page.components.remainingComponents.size > 0 %}
                    {% for component in page.components.remainingComponents %}
                        <div class="component component-{{ component.key }}">
                            {% include component | template('component') %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </article>
    </section>
{% endblock %}