{% extends [page.layout, concat('layouts/', page.layout, '.twig'), "layouts/index.twig"] %}

{% block mainContent %}

    <section id="banner">
        <div class="content">
            <header>
                <h1>{{ options.about.name }}</h1>
                <p>{{ options.about.description }}</p>
            </header>
            <br><br><br>
            <ul class="actions">
                <li><a href="https://github.com/{{ options.github.username }}/{{ options.github.repo }}" class="button big">View Source</a></li>
            </ul>
        </div>
    </section>

    {% if readme %}
        <section id="readme">
            <header class="major">
                <h2>Readme</h2>
            </header>
            <article>{{ readme.render() }}</article>
        </section>
    {% endif %}

    <!-- Section -->
    {% if license %}
        <section id="license">
            <header class="major">
                <h2>License</h2>
            </header>
            <article><pre>{{ license.render() }}</pre></article>
        </section>
    {% endif %}

{% endblock %}

