{% extends [page.layout, concat('layouts/', page.layout, '.twig'), "layouts/index.twig"] %}

{% block pageNav %}
    {% import 'macros/classDoc.twig' as _classDoc_ %}
    {{- _classDoc_.createPageNav(classDoc) -}}
{% endblock %}

{% block mainContent %}
    {% import 'macros/classDoc.twig' as _classDoc_ %}
    {% import 'macros/comment.twig' as _comment_ %}

    {% set classFields = classDoc.info.qualifiedName | fields %}
    {% set classCtors = classDoc.info.qualifiedName | constructors %}
    {% set classMethods = classDoc.info.qualifiedName | methods %}
    {% set directSubclasses = classDoc.info.qualifiedName | directSubclasses %}

    <section id="banner">
        <div class="content">
            <header>
                <h1>{{ classDoc.info.name }}</h1>
                <p>in package <code>{{ classDoc.info.package }}</code></p>
            </header>
            <hr>
            <article>
                <div>{{- _classDoc_.createClassHeader(classDoc) -}}</div>
                <hr>
                <div>{{- _comment_.formatComment(classDoc.info.comment, options) -}}</div>
            </article>
        </div>
    </section>

    <section id="summary">
        <header class="major"><h2>Summary</h2></header>
        <article>

            {% if directSubclasses %}
                <header class="minor"><h3>Direct Subclasses</h3></header>
                <p>
                    {%- for subclass in directSubclasses -%}
                        <a href="{{- subclass.url -}}">{{- subclass.name -}}</a>
                        {%- if (loop.last) %}{% else %}, {% endif %}
                    {%- endfor -%}
                </p>
                <br>
            {% endif %}

            {% if classFields %}
                <header class="minor"><h3>Field Summary</h3></header>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Field and Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in classFields | sortBy('name') %}
                        {% include 'includes/fieldPreview.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
                <br>
            {% endif %}

            {% if classCtors %}
                <header class="minor"><h3>Constructor Summary</h3></header>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Constructor and Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for constructor in classCtors %}
                        {% include 'includes/ctorPreview.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
                <br>
            {% endif %}

            {% if classMethods %}
                <header class="minor"><h3>Method Summary</h3></header>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Method and Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for method in classMethods | sortBy('name') %}
                        {% include 'includes/methodPreview.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
                <br>
            {% endif %}

        </article>
    </section>

    <section id="fields">
        <header class="major"><h2>Fields</h2></header>
        <article>
            {% if classFields %}
                {% for field in classFields | sortBy('name') %}
                    {% include 'includes/fieldFull.twig' %}
                {% endfor %}
            {% else %}
                <p>No declared fields</p>
            {% endif %}
        </article>
    </section>

    <section id="constructors">
        <header class="major"><h2>Constructors</h2></header>
        <article>
            {% if classCtors %}
                {% for constructor in classCtors %}
                    {% include 'includes/ctorFull.twig' %}
                {% endfor %}
            {% else %}
                <p>No declared constructors</p>
            {% endif %}
        </article>
    </section>

    <section id="methods">
        <header class="major"><h2>Methods</h2></header>
        <article>
            {% if classMethods %}
                {% for method in classMethods | sortBy('name') %}
                    {% include 'includes/methodFull.twig' with { method: method, classDoc: classDoc } %}
                {% endfor %}
            {% else %}
                <p>No declared methods</p>
            {% endif %}
        </article>
    </section>

{% endblock %}