{% extends ["layouts/index.twig"] %}

{% block jumbotron %}
    <h1 class="home-title">{{ options.about.name }}</h1>
    <p class="lead">{{ options.about.description }}</p>
    <p class="lead">
        <a href="https://github.com/{{ options.github.username }}/{{ options.github.repo }}"
           class="btn btn-outline-inverse btn-lg">Download</a>
    </p>
    <p class="version">
        Currently {{ flags.v }}
    </p>
{% endblock %}

{% block mainContent %}

    {% if readme %}
        <section class="bs-docs-section">
            <h1 id="readme" class="page-header">Readme</h1>
            {{ readme.render() }}
        </section>
    {% endif %}

    {% if license %}
        <section class="bs-docs-section">
            <h1 id="license" class="page-header">License</h1>
            <pre>{{ license.render() }}</pre>
        </section>
    {% endif %}

{% endblock %}












