{% extends 'templates/server/admin/base/base.twig' %}

{% block main %}

    <h1>Available Options</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Class Name</th>
                <th>Priority</th>
                <th>Flag</th>
                <th>Option Length</th>
                <th>Required</th>
            </tr>
            </thead>
            <tbody>
            {% for option in options %}
                <tr>
                    <td><a href="#" data-toggle="tooltip" title="{{ site.getClassname(option, true) }}">{{ site.getClassname(option, false) }}</a></td>
                    <td>{{ option.priority }}</td>
                    <td><code>{{ option.flag }}</code></td>
                    <td>{{ option.optionLength }}</td>
                    <td>{{ option.required }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
