
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- start:inject SEO data -->
{% if head.title %}
<title>{{ head.title }}</title>
<script>window.title = '{{head.title}}';</script>
{% else %}
<title>{{ options.config.about.name }}</title>
<script>window.title = '{{ options.config.about.name }}';</script>
{% endif %}

{% if head.description %}
<meta name="description" content="{{ head.description }}">
{% else %}
<title>{{ options.config.about.description }}</title>
{% endif %}

{% if head.publishStatus == 'publish' %}
<meta name="robots" content="index, follow">
{% elseif head.publishStatus == 'draft' %}
<meta name="robots" content="noindex, nofollow">
{% endif %}

{% if head.previous %}
<link rel="prev" href="{{ head.previous.url }}">
{% endif %}

{% if head.next %}
<link rel="next" href="{{ head.next.url }}">
{% endif %}

{% if head.canonical %}
<link rel="canonical" href="{{ head.canonical.url }}">
{% endif %}
<!-- end:inject SEO data -->

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->